<section>
  <h2>Posts</h2>
  {% assign posts = collections.posts %}
  {% assign max_posts = post_count | default: 10 %}
  
  <div class="posts-list">
    {% for post in posts %}
      {% if all_posts != true and forloop.index > max_posts %}
        {% break %}
      {% endif %}
      <div class="post-item grid">
        <time datetime="{{ post.date | date: '%Y-%m-%d' }}">
          {{ post.date | date: '%b' }}
          <span {% if bold_year %}class="bold"{% endif %}>{{ post.date | date: '%Y' }}</span>
        </time>
        <div>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
          {% if post.data.draft %}
            <span class="badge draft">Draft</span>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  
  {% if show_more_link != false and all_posts != true %}
    <a href="/blog" class="more-posts">More Posts →</a>
  {% endif %}
</section> 